<?xml version="1.0" ?>
<config>
    <modules>
        <Demka_News>
            <version>1.0.2</version>
        </Demka_News>
    </modules>
    <global>
        <resources>
            <demkanews_setup>
                <setup>
                    <module>Demka_News</module>
                </setup>
            </demkanews_setup>
        </resources>
        <models>
            <demkanews>
                <class>Demka_News_Model</class>
                <resourceModel>demkanews_resource</resourceModel>
            </demkanews>
            <demkanews_resource>
                <class>Demka_News_Model_Resource</class>
                <entities>
                    <table_news>
                        <table>demka_news_entities</table>
                    </table_news>
                </entities>
            </demkanews_resource>
        </models>
        <helpers>
            <demkanews>
                <class>Demka_News_Helper</class>
            </demkanews>
        </helpers>
        <blocks>
            <demkanews>
                <class>Demka_News_Block</class>
            </demkanews>
        </blocks>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <demkanews_observer>
                        <model>demkanews/observer</model>
                        <method>catalogProductPrepareSave</method>
                    </demkanews_observer>
                </observers>
            </catalog_product_prepare_save>
        </events>
    </global>
    <frontend>
        <routers>
            <demkanews>
                <use>standard</use>
                <args>
                    <module>Demka_News</module>
                    <frontName>news</frontName>
                </args>
            </demkanews>
        </routers>
        <layout>
            <updates>
                <demkanews>
                    <file>demkanews.xml</file>
                </demkanews>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <demkanews_admin>
                <use>admin</use>
                <args>
                    <module>Demka_News</module>
                    <frontName>news_admin</frontName>
                </args>
            </demkanews_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <demkanews module="demkanews">
                <title>News</title>
                <sort_order>77</sort_order>
                <action>news_admin/adminhtml_news</action>
            </demkanews>
        </menu>
    </adminhtml>
</config>