<?xml version="1.0" ?>
<config>
    <modules>
        <Demka_Alert>
            <version>1.0.0</version>
        </Demka_Alert>
    </modules>
    <global>
        <resources>
            <demkaalert_setup>
                <setup>
                    <module>Demka_Alert</module>
                </setup>
            </demkaalert_setup>
        </resources>
        <models>
            <demkaalert>
                <class>Demka_Alert_Model</class>
                <resourceModel>demkaalert_resource</resourceModel>
            </demkaalert>
            <demkaalert_resource>
                <class>Demka_Alert_Model_Resource</class>
                <entities>
                    <table_alert_price>
                        <table>demka_alert_price_anonymous_entities</table>
                    </table_alert_price>
                    <table_alert_stock>
                        <table>demka_alert_stock_anonymous_entities</table>
                    </table_alert_stock>
                </entities>
            </demkaalert_resource>
            <productalert>
                <rewrite>
                    <observer>Demka_Alert_Model_Observer</observer>
                </rewrite>
            </productalert>
        </models>
        <helpers>
            <demkaalert>
                <class>Demka_Alert_Helper</class>
            </demkaalert>
        </helpers>
        <blocks>
            <demkaalert>
                <class>Demka_Alert_Block</class>
            </demkaalert>
            <productalert>
                <rewrite>
                    <product_view>Demka_Alert_Block_Product_View</product_view>
                </rewrite>
            </productalert>
        </blocks>
        <template>
            <email>
                <catalog_productalert_email_stock_template_anonymous translate="label" module="demkaalert">
                    <label>Product stock alert for anonymous</label>
                    <file>product_stock_alert_anonymous.html</file>
                    <type>html</type>
                </catalog_productalert_email_stock_template_anonymous>
                <catalog_productalert_email_price_template_anonymous translate="label" module="demkaalert">
                    <label>Product price alert for anonymous</label>
                    <file>product_price_alert_anonymous.html</file>
                    <type>html</type>
                </catalog_productalert_email_price_template_anonymous>
            </email>
        </template>
    </global>
    <frontend>
        <layout>
            <updates>
                <demkaalert>
                    <file>demkaalert.xml</file>
                </demkaalert>
            </updates>
        </layout>
        <routers>
            <demkaalert>
                <use>standard</use>
                <args>
                    <module>Demka_Alert</module>
                    <frontName>alert</frontName>
                </args>
            </demkaalert>
        </routers>
    </frontend>
    <default>
        <catalog>
            <productalert>
                <email_price_template_anonymous>catalog_productalert_email_price_template_anonymous</email_price_template_anonymous>
                <email_stock_template_anonymous>catalog_productalert_email_stock_template_anonymous</email_stock_template_anonymous>
            </productalert>
        </catalog>
    </default>
</config>