.modal {
    z-index: 99998;
    border-radius: 0;
}

.blocker {
    z-index: 99999;
}

#demkaalert-signup-form input {
    margin: 15px 0;
    width: 100%;
}

#demkaalert-signup-form button {
    width: 100%;
}